.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .portfolio-item {
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.03);
    }
  
    .portfolio-item-image {
      border-radius: 1rem;
      overflow: hidden;
      margin-bottom: 1rem;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        transition: transform 0.3s ease-in-out;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    .portfolio-item-details {
      h3 {
        margin: 0.5rem 0;
        font-size: 1.4rem;
        color: var(--color-light);
      }
  
      .btn {
        background-color: var(--color-light);
        color: var(--color-bg);
        text-decoration: none;
        padding: 0.7rem 1.2rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: var(--color-primary-variant);
        }
      }
    }
  }
  
  /* Media Queries (Medium Devices) */
  @media screen and (max-width: 1024px) {
    .portfolio-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  
  /* Media Queries (Small Devices) */
  @media screen and (max-width: 600px) {
    .portfolio-container {
      grid-template-columns: 1fr;
    }
  }
  