/* styles.css */

  .app {
    text-align: center;
  }
  
  .gif-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .gif-container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
  }
  