.experience {
  background-color: var(--color-bg);
  padding: 80px 0;
  text-align: center;
}

/* Experience.css */
.experience__toggle-container {
  display: flex;
  gap: 1rem;
  justify-content: center; /* Center the buttons */
}

.experience__toggle {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.experience__toggle:hover {
  border-color: var(--color-primary-variant);
}

.experience__toggle.active {
  background-color: var(--color-light);
  color: var(--color-bg);
}


.experience h5,
.experience h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

<<<<<<< HEAD
.experience__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
=======
.experience__toggle {
  cursor: pointer;
  color: var(--color-light);
  font-weight: 600;
  margin-bottom: 20px;
}

.experience__card {
  background: var(--color-bg-variant);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0.3); /* White transparent border */
}

.experience__card:hover {
  transform: translateY(-5px);
>>>>>>> main
}

.experience__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-light);
}

.experience__details h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.experience__details small {
  font-size: 1.2rem;
  color: var(--color-light);
}

.experience__details div {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .experience__card {
    padding: 30px;
  }
}

/* Existing styles ... */


.experience__work {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 20px; /* Adjust the padding value as needed */
}

.experience__work-details {
  flex-grow: 1;
  color: var(--color-light);
}

.experience__work h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #fff; /* Adjust to your color scheme */
}

.experience__work h4 {
  font-size: 1.2rem;
  color: #eee; /* Adjust to your color scheme */
  margin-bottom: 5px;
}

.experience__work small {
  font-size: 0.8rem;
  color: #ccc; /* Adjust to your color scheme */
  margin-bottom: 10px;
}

.experience__work p {
  font-size: 1rem;
  color: #fff; /* Adjust to your color scheme */
}

.experience__work ul {
  list-style-type: disc;
  margin-left: 20px;
}

.experience__work li {
  margin-bottom: 5px;
  color: #fff; /* Adjust to your color scheme */
}

